<header>
  <div class="container">
    <div class="logo">
      <a href="/"> TaskList </a>
    </div>
    <nav class="nav">
      <ul>
        <li>
          <a routerLink="/home" routerLinkActive="active">Inicio</a>
        </li>
        <li>
          <a
            class="btn btn-header"
            [routerLink]="['/auth/login']"
            routerLinkActive="active"
            >Iniciar Sesión</a
          >
        </li>
        <li>
          <a
            class="btn btn-header"
            [routerLink]="['/auth/register']"
            routerLinkActive="active"
            >Registrarme</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
