footer {
  background-color: #3585c6;
  padding: 1.25rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

  p {
    color: #fff;
    text-align: center;
    margin: 0;
  }
}
